<div class="page-container" >
  <h1 (click)="appMode = 'default'" style="cursor: pointer">Sussy Bingo Night</h1>
  <div class="game-container">
    
    <!-- Bingo card/quote generation section -->
    <div class="bingo-card-section" >
      
      <!-- Bingo card mode components -->
      <div class="grid-section" *ngIf="appMode === 'default' || appMode === 'card'">
        <button mat-raised-button color="secondary" (click)="generateCard()">Generate bingo card</button>
        <div class="flex-column" *ngIf="bingoCard.length > 0">

          <!-- The bingo card is a 2d array of usually 25 items -->
          <div class="bingo-grid">
            <div class="bingo-row" *ngFor="let row of bingoCard">
              <button class="bingo-column relative" *ngFor="let column of row" (click)="onItemClick(column)" [ngClass]="{'clicked': column.clicked}">
                {{column.text}}
                <div *ngIf="column.clicked" class="mana-icon">
                  <img [src]="'assets/' + column.icon + '.svg'"  [class]="column.icon" />
                </div>
                <div *ngIf="column.clicked" class="index-number">
                  {{column.index}}
                </div>
              </button>
            </div>
          </div>
          <button class="not-on-card-button" mat-raised-button color="primary" (click)="onThisOneIsNotOnMyCard()">The author is not on my card...</button>

          <div class="history-container flex-column" *ngIf="clickedBingoSquared.length > 0">
            <div *ngFor="let item of clickedBingoSquared">
              <div>
                <span class="index-number">{{item.number}} </span>
                <span>: {{item.bingoItem.text}}</span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Quote mode components -->
      <div class="quote-section" *ngIf="appMode === 'default' || appMode === 'quote'">
        <button mat-raised-button color="primary" (click)="onClickGenerateQuote()">Generate quote</button>
        <div class="generated-quotes" *ngIf="displayedQuotes.length > 0">
          <div *ngFor="let quote of displayedQuotes" class="quote flex-column" (click)="quote.nameVisible = !quote.nameVisible">
            <div class="quote-number">{{quote.index}}</div>
            <div class="quote-text">{{quote.quote}}</div>
            <div class="quote-author" [ngClass]="{'hidden': !quote.nameVisible}">- {{quote.name}}</div>
          </div>
        </div>
      </div>

      <!-- Word Cloud -->
      <div *ngIf="appMode === 'default' || appMode === 'cloud'">
        <button class="cloud-init-button" mat-raised-button color="accent" (click)="loseMyselfInTheCloud()">Lose yourself in the cloud</button>
        <app-word-cloud [ngStyle]="{display: appMode === 'cloud' ? 'inherit' : 'none'}" #wordCloud ></app-word-cloud>
        <div *ngIf="appMode === 'cloud'">
          <h2>Words not included on the map:</h2>
          <div>
            <span>{{noNoWords.join(', ')}}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Odds setction, hidden on mobile -->
    <div class="odds-section mobile-hidden" *ngIf="appMode !== 'cloud'">
      <div class="flex-row">
        <div class="compiled-grid">
          <h2>Quotes Per Author</h2>
          <div class="grid-cell" *ngFor="let key of compiledKeys">
            {{key}}: {{compiledPersonTotals[key]}}
          </div>
        </div>

        <div class="compiled-grid">
          <h2>Raw authors</h2>
          <div class="grid-cell" *ngFor="let key of personKeys">
            {{key}}:
            <span style="color: green" *ngIf="nickNameMapContainsString(key)">
              Tracked 😻
            </span>
            <span style="color: red" *ngIf="!nickNameMapContainsString(key)">
              Left out 🛁🔌
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>