<div class="page-container ">
    <h1>Sussy Bingo Night</h1>
    <div class="game-container flex-row">
      <div class="bingo-card-section" >
        <div class="grid-section" *ngIf="appMode === 'default' || appMode === 'card'">
          <button mat-raised-button color="primary" (click)="generateCard()">Generate bingo card</button>
          <div class="probability">
            <div *ngIf="bingoCard.length > 0">
              <h2>Bingo card</h2>
              <div class="bingo-grid">
                <div class="bingo-row" *ngFor="let row of bingoCard">
                  <button class="bingo-column" *ngFor="let column of row" (click)="onItemClick(column)" [ngClass]="{'clicked': column.clicked}">
                    {{column.text}}
                    <div *ngIf="column.clicked" class="mana-icon">
                      <img [src]="'assets/' + column.icon + '.svg'"  [class]="column.icon" />
                    </div>
                  </button>
                </div>
              </div>
              <button mat-raised-button color="primary" (click)="onThisOneIsNotOnMyCard()">The author is not on my card...</button>
  
              <div class="history-container flex-column">
                <div *ngFor="let item of clickedBingoSquared">
                  <div>{{item.bingoItem.text }}: {{item.number}}</div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
        <div class="quote-section" *ngIf="appMode === 'default' || appMode === 'quote'">
          <button mat-raised-button color="primary" (click)="onClickGenerateQuote()">Generate quote</button>
          <div class="generated-quotes">
            <div *ngFor="let quote of displayedQuotes" class="quote flex-column" (click)="quote.nameVisible = !quote.nameVisible">
              <div class="quote-number">{{quote.index}}</div>
              <div class="quote-text">{{quote.quote}}</div>
              <div class="quote-author" [ngClass]="{'hidden': !quote.nameVisible}">- {{quote.name}}</div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="odds-section">
        <h2>Odds</h2>
        <div class="flex-row">
          <div class="odds-grid">
            <h2>Raw quote authors</h2>
            <div class="grid-cell" *ngFor="let key of personKeys">
              {{key}}: {{perPerson[key]}}
            </div>
          </div>
  
          <div class="compiled-grid">
            <h2>Compiled Odds</h2>
            <div class="grid-cell" *ngFor="let key of compiledKeys">
              {{key}}: {{compiledPersonTotals[key]}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>